*
{
list-style-type: none;
}
body{
  
    background-color: white;

}
html
{
    background-color: red;
}
.bollen ul
{
    list-style-type: none;
    width: 100px;
}

#links img
{
width: 100px;
height: auto;
}
div.smaak ul li
{
    display: inline-block;
}
.verpakking ul
{
    list-style-type: none;
}
div.verpakking ul li
{
    display: inline-block;
}
#links
{
    float: left;
    width: 45%;
    background-color: white;
}
#rechts
{
    float: right;
    width: 45%;
    background-color: white;
}
div.sauzen ul li
{
    display: inline-block;
}
div.extras ul li
{
    display: inline-block;
}
.rand
{
    border : 2px solid red
}






/* responsive */
@media only screen and (min-width:900px) {
    #links, #rechts{
        width: 45%;
    }   
}
@media only screen and (max-width:900px) {
    #links, #rechts{
        width: 95%;
    }
}