*
{
list-style-type: none;
}
body{
    margin: 25px;
    background-color: white;

}
html
{
    background-color: red;
}
.bollen ul
{
    list-style-type: none;
    width: 100px;
}

#links img
{
width: 100px;
height: auto;
}
div.smaak ul li
{
    display: inline-block;
}
.verpakking ul
{
    list-style-type: none;
}
#links
{
    float: left;
    width: 45%;
    background-color: white;
}
#rechts
{
    float: right;
    width: 45%;
    background-color: white;
}